html,body{
    height: 100%;
    margin: 0px;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: orangered
}
.img1{
    background-image: url(images/flower.jpg);
    min-height: 100%;
}
.img2{
    background-image: url(images/grass.jpg);
    min-height: 700px;
}
.img3{
    background-image: url(images/30106.jpg);
    min-height: 500px;
}
.img1, .img2, .img3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 25px;
    letter-spacing: 8px;
    text-transform: uppercase ;
}
.textbig{
    background-color: #0d8365;
    color: aliceblue;
    padding: 13px;
}
.section{
    padding: 50px 80px;
    text-align: center;
}
.section-light{
    background-color: rgb(7, 112, 77);
    color: orange ;
}
.section-dark{
    background-color: rgb(7, 112, 77);
    color: orange ;
}